/* color combinations to be use:
#5D5C61
#928D94
#379683--
#7395AE
#557A95
#B1A296 
#e3c1a6
*/

@import "../CSS/mainGrid.css";

/* for the main card */
.mainCard {
  display: grid;
  grid-template-areas:
    "B"
    "B"
    "B"
    "M";
  /* border: 5px solid red; */
  box-shadow: 0.1rem 0rem #928d94;
}

.mainCard video {
  width: 100%;
  height: auto;
}

.subMainCard {
  grid-area: B;
}

.videoText {
  grid-area: M;
  grid-row-start: 3;
  grid-row-end: 4;
  position: relative;
  color: #f4f7f6;
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  padding: 1rem;
}

.videoText h2 {
  margin-bottom: 0.5rem;
  font-size: 4rem;
}

.restCards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card {
  background: #e3c1a6;
  box-shadow: 0.1rem 0.2rem #928d94;
  padding: 0.2rem;
  text-align: center;
}

.information {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 3fr 2fr;
  margin-bottom: 1rem;
  background: #e3c1a6;
  box-shadow: 0.1rem 0.2rem #928d94;
  padding: 3rem;
  text-align: justify;
}
.information h2 {
  font-size: 2rem;
  line-height: 2rem;
}

.information img {
  border-radius: 1rem;
}

.rand {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 1rem;
}

.rand img {
  border: 0.2rem solid #e3c1a6;
  box-shadow: 0.1rem 0.2rem #928d94;
}

.button {
  background: #557a95;
  color: #e3c1a6;
  line-height: 1.5rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

@media (max-width: 1250px) {
  .information p:nth-last-child(2) {
    display: none;
  }
}
@media (max-width: 1000px) {
  .information {
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 850px) {
  .information h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 750px) {
  body {
    margin: 1rem 1rem;
    line-height: 1rem;
  }

  .videoText {
    font-size: 0.5rem;
    padding: 0.5rem;
  }

  .videoText h2 {
    margin-bottom: 0.25rem;
    font-size: 2rem;
  }

  .mainFlex {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .subMainFlex {
    width: 99%;
  }

  .mainFlex img {
    width: 6rem;
  }

  .mainFlex h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .logo {
    text-align: center;
  }

  .subMainGrid ul {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }

  .information {
    grid-gap: 1rem;
    grid-template-columns: 1fr;

    padding: 1rem;
  }
}

@media (max-width: 350px) {
  body {
    margin: 0.5rem 0.5rem;
  }

  .videoText {
    font-size: 0.25rem;
    padding: 0.25rem;
  }

  .videoText h2 {
    margin-bottom: 0.12rem;
    font-size: 1rem;
  }

  .mainFlex h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .mainFlex {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .subMainFlex {
    width: 99%;
  }

  .mainFlex img {
    width: 3rem;
  }

  .logo {
    text-align: center;
  }

  .subMainGrid ul {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }

  .information {
    grid-gap: 0.5rem;
    grid-template-columns: 1fr;

    padding: 0.5rem;
  }
}
