@import "../CSS/main.css";
@import "../CSS/mainGrid.css";
@import "../CSS/home.css";

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #557a95;
  box-sizing: border-box;
}

body {
  margin: 3rem 3rem;
  line-height: 1.5rem;
  background: #f4f7f6;
}

figure > figcaption.Source {
  font-size: 0.75rem;
  text-align: center;
}
footer {
  text-align: center;
  padding: 1rem;
}
figure {
  width: 100%;
  margin: 0rem;
}
